<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Mon Site</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Bienvenue</h1>
    <nav><a href="/">Accueil</a></nav>
  </header>
  <main>
