<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Vapeur</title>
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
  {{> header}}

  <main>
    {{{body}}}
  </main>

  {{> footer}}
</body>
</html>
